body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.Bigbutt {
  display:block;
  color:brown;
  float: left;
}

h1 {
  font-size: 60px;
}
